.sekcja-glowna {
    width: 100vw;
    height: 15vh;
    background-color: #365914;
}
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.nawigacja-boczna{
    height: 70vh;
    width: 20vw;
    background-color: #DBF227;
    float: left;
    padding: 30px;
    box-sizing: border-box;

}
.glowna-zawartosc{
    height: 70vh;
    width: 60vw;
    background-color: green;
    float: left;
    box-sizing: border-box;
    color: white;
    font-weight: 300;
    padding: 30px;
    overflow-y: scroll;
    overflow: hidden;

}
.glowna-zawartosc h2{
    line-height: 50px;
}
.odnosniki{
    height: 70vh;
    width: 20vw;
    background-color:  #DBF227;
    float: left;
    padding: 10px;
    box-sizing: border-box;
    
}
body{
    width: 100vw;
    height: 100vh;
}
.stopka{
    clear: both;
    width: 100vw;
    height: 15vh;
    background-color:  #365914;
    box-sizing: border-box;
}
.glowna-lewy, .glowna-prawy{
    width: 50%;
    height: 15vh;
    float: left;
    box-sizing: border-box;
}
.logo{
    width: 15vh;
    height: 15vh;
    
    text-align: center;

}
.logo i{
    color: white;
    font-size: 50px;
    line-height: 15vh;
    
    
}
.nawigacja {
    list-style-type: none;
    color: white;
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    float: right;
}
.nawigacja li{
    display: inline-block;
    padding: 15px;
    background-color: #7d8b16;
    margin-right: 20px;
    border-radius: 10px;
}
.nav{
    list-style-type: none;
    color: white;

}
.nav li{
    padding: 15px;
    text-align: center;
    background-color: #365914;
    margin-bottom: 15px;
    border-radius: 10px;

}
.obrazki{
    width: 100%;
    height: 250px;
    
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;

}
.obrazki img{
    width: 32%;

}

